<style>

    .display-vertical {
        display: block;
    }

</style>

<!--active when displayed as radio | verticalRadio-->
<div *ngIf="displayAsVerticalRadio || displayAsRadio">

    <span [innerHtml]="label" *ngIf="label.isNotEmpty"></span>

    <label *ngFor="let label of sortedOptions.keys" [class.display-vertical]="displayAsVerticalRadio">

        <input type="radio" name="option-group{{randomNameSeed}}"
               [value]="label"
               [checked]="label == chosenLabel"
               (change)="chosenLabel = $event.target.value">
        {{label}}

    </label>
</div>

<!--active when displayed as select-->
<div *ngIf="displayAsSelect">

    <label for="select-element" [innerHtml]="label" *ngIf="label.isNotEmpty"></label>

    <select id="select-element" [(ngModel)]="chosenLabel">
        <option *ngFor="let label of sortedOptions.keys"
                [value]="label"
                [innerHtml]="label"
                [selected]="chosenLabel == label">
        </option>
    </select>
</div>


