<h1> Test Page</h1>
<p>
    This is a test page to see your component in action. <br>
    When using this component in another project, only the stuff in lib will be imported
</p>

<h2>Test 1 - style normal </h2>

<jb-option-input [options]="options" [(value)]="value1" label="Wochentage 1"></jb-option-input>

<p>
    Value Type: {{value1.runtimeType}}<br>
    Value: {{value1}}
</p>

<h2>Test 2 - style vertical options</h2>

<jb-option-input [options]="options"
                 [(value)]="value2"
                 displayStyle="DisplayStyle.verticalRadio"
                 label="Wochentage 2">
</jb-option-input>

<p>
    Value 2 Type: {{value2.runtimeType}}<br>
    Value 2: {{value2}}
</p>


<h2>Test 3 - style select</h2>
<!--display-style="select"-->
<label>Wochentage 3</label>

<jb-option-input [options]="options"
                 [(value)]="value3"
                 displayStyle="DisplayStyle.select">
</jb-option-input>

<p>
    Value 3 Type: {{value3.runtimeType}}<br>
    Value 3: {{value3}}
</p>
